body{
    margin:0;
    justify-content: center;
    align-items:center;
    height: 100vh;
}
#Calculator{
    font-family: 'Arial',sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius : 15px;
    max-width: 500px;
    overflow: hidden; 
    align-items: center;
    text-align: center;
}
#keys{
    display: flex;
    flex-wrap:wrap;
    padding:25px;
    gap:10px;
    
    
}
button{
    flex : 1 0 calc(25%-20px);
    height : 100px;
    width : 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 40%);
    padding:25px;
    font-size: 3rem;
    font-weight: bold;
    cursor:pointer;
    color:white;
    
}
#display{
    width:100%;
    font-size : 5rem;
    padding : 20px;
    text-align:left;
    border:none;
    color:white;
    background-color: hsl(0, 0%, 20%);
   

}
button:hover{
    background-color: hsl(0, 0%, 50%);
}
button:active{
    background-color: hsl(0, 0%, 60%);
}
.operators{
    background-color:hsl(37, 100%, 55%);
}
.operators:hover{
    background-color:hsl(37, 100%, 65%);
}
.operators:active{
    background-color:hsl(37, 100%, 75%);
}